html{
    font-size: 16px;
    background-color: rgb(51, 223, 165);
}
div{
    font-size:1rem

    
}
.avatar{
    text-align: center;
}
.parrafro{
    font: size 0.5rem;
    background-color: aquamarine;
}
.portfolio{
    background-color: white;
    color: black;

}
.portfolio > p{
    color: black;
}
.about{
    text-align:left;
    display: block;
    

}
.parrafo{
    display: flex;
    padding-left: 30rem;
    padding-right: 30rem;
    
}
.parrafo > p:first-child{
    margin-right:1em ;

}

.contact {
    background-color: rgb(250, 245, 245);
    color: black;
    display:block;
    text-align: center;
    padding-bottom: 4em;
    
}
.free{
    text-align: center;
    color: aqua;
}
form{
    text-align: initial;
    margin-left:20em;

}
input{
    border:none;
    border-bottom:solid 0.03em;

}
.name{
    background-color: white;
}

footer{
    
    background-color: #2C3E50;
    color: white;
    display:flex;
    text-align: center;
    padding-left: 3rem;
    padding-right: 4rem;
    justify-content: space-evenly;
    padding: 2em;
}

.fotos{
    display: grid;
    grid-template-columns: 7rem 7rem 7rem;
    justify-content:center;
    grid-auto-rows:6.5rem;

}

